* {
  padding: 0;
  box-sizing: border-box;
}
/* common css */
body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
/* ---------header css----------- */
header {
  height: 50px;
  background-color: brown;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-top: 50px;
}
.brand-name {
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: white;
  transition: all 0.5s ease-in-out;
}
.brand-name:hover {
  font-size: 50px;
  color: black;
}
.navigation {
  display: flex;
}
.navigation li a:hover {
  color: black;
  /* font-size: 18px; */
}
.navigation li {
  list-style: none;
  margin: 10px;
  color: white;
}
.navigation li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 10px;
}
/* --------top section css -----*/
.top-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 10px 50px;
  margin-bottom: 100px;
}
.Tsec-left {
  width: 70%;
  width: 582px;
  height: 270px;
}

.Tsec-right {
  width: 30%;
  margin: 50px 0px 0px 400px;
}
.Tsec-right img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: right;
}

#hero-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
    background: url("../images/gallery.jpg");
    background-size: cover;
    background-position: center;
}

.Tsec-h1 {
  font-weight: bold;
  font-size: 40px;
  color: white;
  transition: all 0.2s ease-in-out;

}
.Tsec-h1:hover {
  color: brown;
  font-size: 50px;
}

.Tsec-p {
  font-size: 16px;
  color: white;
  left: 1.5em;
}
.button {
  color: black;
  background-image: linear-gradient(brown, rgb(190, 72, 72));
  padding: 10px 40px;
  margin-bottom: 10px;
  border-radius: 41px;
  outline: 0;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 7px 0 rgb(201, 99, 59);
  position: relative;
  top: 0;
}

.button:active {
  top: 5px;
  box-shadow: 0 2px 0 brown);
}
.fa-arrow-right {
  padding-left: 5px;
}
/*------- logo box css------ */
.logo-box {
  width: 1100px;
  height: 110px;
  border: 1px solid brown;
  border-style: solid none;
  padding-left: 50px;
  margin: 100px 0px 40px 100px;
}

.logo-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-nav ul li {
  list-style: none;
  padding: 10px 30px 20px;
}
/*------ products css----- */
.products-container {
  margin: 50px 0;
  padding: 10px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding-left: 100px;
  grid-row-gap: 50px;

  padding-bottom: 40px;
}
.product {
  width: 300px;
  height: 500px;
  background: brown;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product .product-banner img {
  width: 300px;
  height: 245px;
  padding: 15px;
}
.product-info {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.product-detail {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.product-title {
  font-size: 18px;
}
.info {
  color: black;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.section-title {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 30px;
}
.link {
  text-decoration: none;
  font-size: 16px;
  color: brown;
  float: right;
  padding-right: 70px;
}
/* -------account css------- */
.account {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
h5 {
  text-align: center;
  font-size: 18px;
}
.login-form input,
button,
.signup-form input,
button {
  padding-left: 10px;
  font-size: 1.2em;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.login-form button,
.signup-form button {
  background-color: brown;
  color: black;
  margin: 10px;
  padding: 10px;
}

.login-container,
.signup-container {
  display: flex;
  justify-content: center;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}

/* -----footer css */
footer {
  width: 1250px;
  height: 225px;
  background: brown;
  text-align: center;
}
.footer-title {
  font-size: 24px;
  color: black;
  padding-bottom: 0px;
}

.last-section {
  display: flex;
  color: black;
  justify-content: center;
  column-gap: 3px;
  padding-top: 0;
}

.icons {
  display: flex;
  color: black;
  justify-content: center;
  column-gap: 15px;
}
